<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>year</key>
	<array>
		<string>1970</string>
		<string>1971</string>
		<string>1973</string>
		<string>1974</string>
		<string>1975</string>
		<string>1976</string>
		<string>1977</string>
		<string>1978</string>
		<string>1979</string>
		<string>1980</string>
		<string>1981</string>
		<string>1982</string>
		<string>1983</string>
		<string>1984</string>
		<string>1985</string>
		<string>1986</string>
		<string>1987</string>
		<string>1988</string>
		<string>1989</string>
		<string>1990</string>
		<string>1991</string>
		<string>1992</string>
		<string>1993</string>
		<string>1994</string>
		<string>1995</string>
		<string>1996</string>
		<string>1997</string>
		<string>1998</string>
		<string>1999</string>
		<string>2000</string>
		<string>2001</string>
		<string>2002</string>
		<string>2003</string>
		<string>2004</string>
		<string>2005</string>
		<string>2006</string>
		<string>2007</string>
		<string>2008</string>
		<string>2009</string>
		<string>2010</string>
		<string>2011</string>
		<string>2012</string>
		<string>2013</string>
		<string>2014</string>
		<string>2015</string>
		<string>2016</string>
		<string>2017</string>
		<string>2018</string>
		<string>2019</string>
		<string>2020</string>
		<string>2021</string>
		<string>2022</string>
		<string>2023</string>
		<string>2024</string>
		<string>2025</string>
		<string>2026</string>
		<string>2027</string>
		<string>2028</string>
		<string>2029</string>
		<string>2030</string>
		<string>2031</string>
		<string>2032</string>
		<string>2033</string>
		<string>2034</string>
		<string>2035</string>
		<string>2036</string>
		<string>2037</string>
		<string>2038</string>
		<string>2039</string>
		<string>2040</string>
		<string>2041</string>
		<string>2042</string>
		<string>2043</string>
		<string>2044</string>
		<string>2045</string>
		<string>2046</string>
		<string>2047</string>
		<string>2048</string>
		<string>2049</string>
		<string>2050</string>
		<string>2051</string>
		<string>2052</string>
		<string>2053</string>
		<string>2054</string>
		<string>2055</string>
		<string>2056</string>
		<string>2057</string>
		<string>2058</string>
		<string>2059</string>
		<string>2060</string>
		<string>2061</string>
		<string>2062</string>
		<string>2063</string>
		<string>2064</string>
		<string>2065</string>
		<string>2066</string>
		<string>2067</string>
		<string>2068</string>
		<string>2069</string>
		<string>2070</string>
	</array>
	<key>mouth</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>9</string>
		<string>10</string>
		<string>11</string>
		<string>12</string>
	</array>
</dict>
</plist>
